@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");

#menu {
    position: absolute;
    z-index: 1;
    top: 25%;
    width: 90%;
    text-align: center;
}

#game_over_menu {
    position: absolute;
    z-index: -1;
    top: 25%;
    width: 90%;
    text-align: center;
}


#heading, p, a {
    color: #333333;
    font: 8em "Press Start 2P", cursive;
}

#n {
    display: inline;
    color: #CC00FF;
}

#t {
    display: inline;
    color: #00CCFF;
}

#info {
    text-align: center;
}

a{
    font-size : 3em;
}

#heading {
    margin-top: 5%;
    margin-bottom: 10%;
}

p {
    font-size: 4em;
    margin-bottom: 20px;
}

